html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../img/geometry2.png'); 
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Estilo do modal: mensagem inicial*/
.modal {
    width: 660px;
    height: 620px;
    padding: 5%;
    font-size: 14px;
    color:#000;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    opacity: 0.6;
    text-align: center;
}

.modal.show {
    display: block;
}

.modal.hide {
    display: none;
}

/*ESTILO DOS CARTÕES*/
/*Plano de fundo externo*/
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #FFFF6D 0%, #FF690D 100%); 
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 #878787;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
/*Plano de fundo dos cartões*/
.deck .card {
    height: 125px;
    width: 125px;
    background: #fff;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
/*Plano de fundo dos cartões quando virados*/
.deck .card.open {
    transform: rotateY(0);
    background: #000;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}
/*Plano de fundo dos cartões quando match*/
.deck .card.match {
    cursor: default;
    background: #FF690D;
    font-size: 33px;
}

/*ESTILO DO PAINEL DE PONTOS*/
.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #FF690D;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}